<html>
  <head>
    <link rel="stylesheet" href="/static/css/tracebin.css" type="text/css" media="screen" />
    {% include "favicon.html" %}
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/tracebin.js"></script>
  </head>
  <body>
    <div id="tb">
    </div>
  </body>
  <script type="text/javascript">
    $(function() {
        $.ajax(
            "/_t/{{traceback_id}}",
            {
                dataType: "json"
                ,success : function(data) {
                    offlinetb_render(data, $("#tb"));
                }
                ,error : function(jqXHR, textStatus, errorThrown) {
                    var div = $('<div class="error"></div>');
                    if (jqXHR.status == 404) {
                        div.text("The traceback specified ({{traceback_id}}) does not exist");
                    }
                    else if (textStatus == "parsererror") {
                        var pre = $("<pre></pre>");
                        pre.text(jqXHR.responseText);
                        div.text("This traceback does not appear to be a valid json traceback. The raw content is attached");
                        div.append(pre);
                    }
                    else {
                        div.text(errorThrown)
                        div.prepend("Error: ");
                    }
                    $("body").append(div);
                }
            }
        );
    });
  </script>
</html>
